body {
    font-family: sans-serif;
    margin: 0;
    color: rgb(79, 79, 79); /* Default Text Color */
    display: flex;
    background-image: url("Background.png");
    background-size: 100vw auto;
    min-height: 100vh;
    flex-direction: column;
}
#webName{
    font-size: 4vw;
    font-weight: 900;
    align-self: center;
}
#inputUsername{
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    font-family: Arial;
    outline: 0.2em;
    outline-style:solid;
    outline-color:rgba(0, 0, 0, 0.158);
}
#stage1 {
    min-width: 100vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
}
.allText {
    font-size: 1.8vw;
}
.form-control-vertical {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:50%;
}
.form-control-horizontal {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
#second-step {
    visibility: hidden;
    gap:10%;
}
#catImage {
    width: 10vw;
}
#confetti {
    position: absolute;
    width:15vw;
    top:-5%;
    left:-25%;
}
#catContainer {
    position:relative;
    display:inline-block;
}
#submitUsername {
    border-radius: 0.1em;
    border: 0;
    outline: 0.1em;
    outline-style:solid;
}
#stage2 {
    margin-top:15vw;
    margin-bottom:15vw;
    min-width: 100vw;
    height: 15vw;
    visibility: hidden;
    display:flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    width:50%;
    gap: 3vw
}
#imgChooser {
    width:25vw;
    height:25vw;
    border: none;
    outline: none;
}
#sliderContainer {
    width: 100%;
}
#cheeseSlider {
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    appearance: none; /* Remove default styling for all browsers */
    width: 50%;
    height: 1vw;
    border-radius: 1vw;
    background: rgb(211, 211, 211); /* Background color of the track */
    outline: none;
}

/* Chrome and Safari */
#cheeseSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    width: 5vw;
    height: 5vw;
    border: 0;
    background: url('cheese.png') no-repeat center center; /* Center the image */
    background-size: contain; /* Scale the image to fit */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Firefox */
#cheeseSlider::-moz-range-thumb {
    width: 5vw;
    height: 5vw;
    border: 0;
    background: url('cheese.png') no-repeat center center; /* Center the image */
    background-size: contain; /* Scale the image to fit */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Windows */
#cheeseSlider::-ms-thumb {
    width: 5vw;
    height: 5vw;
    border: 0;
    background: url('cheese.png') no-repeat center center; /* Center the image */
    background-size: contain; /* Scale the image to fit */
    cursor: pointer; /* Pointer cursor on hover */
}
